# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:<ul>
  <li>Create a Jupyter Notebook</li>
  <li>Insert code and markdown cells</li>
  <li>Share your notebook through GitHub</li>
      <li>How to create table in markdown</li>
</ul>

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.Numpy 2.Seaborn 3.pandas

|Data Science Tools|
|------------------|
|Jupterlab|
|R|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 #This a simple arithmetic expression to mutiply then add integers
    
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Haren prabu M